.btn{
    border: none;
        outline: none;
        background: #3f51b5;
        padding: 10px;
        border-left: 1px solid rgba(0, 0, 0, 0.3);
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        color: #fff;
        font-weight: 700;
        transition-duration: 0.3s;
        cursor: pointer;

    
        &:hover{
            color: #3f51b5;
            background-color: #fff;
            border: 1px solid #3f51b5;
        }
}

.details-wrapper {
    max-width: 900px;
    margin: 20px auto;
    position: relative;
  }
  
  .details {
    ::ng-deep mwl-gauge {
      width: 150px;
      height: 150px;
      display: block;
      padding: 10px;
  
      .dial {
        stroke-width: 10;
      }
  
      .value {
        stroke-dasharray: none;
        stroke-width: 13;
      }
  
      .value-text {
        fill: #fff;
        font-weight: 700;
        font-size: 24px;
      }
    }
  
    .game-gauge {
      position: absolute;
      top: 50px;
      right: 0;
  
      &-label {
        font-size: 20px;
        color: #fff;
        position: relative;
        bottom: 60px;
      }
    }
  }
  
  .game {
    &-banner {
      height: 442px;
      overflow: hidden;
  
      &-img {
        width: 100%;
        filter: blur(5px);
      }
    }
  
    &-content {
      text-align: center;
      position: relative;
      top: -200px;
    }
  
    &-header {
      &-title {
        font-size: 70px;
        color: #fff;
        font-weight: 700;
        line-height: 70px;
        white-space: nowrap;
      }
  
      &-release-date {
        color: #fff;
        font-weight: 700;
      }
  
      &-genres {
        color: #fff;
        font-weight: 700;
      }
    }
  }

  .game {

    &-tabs {
      background: rgb(63 81 181 / 61%);
      color: #fff;
      text-align: left;
      padding: 10px;
  
      &-par {
        padding: 20px 20px 0 20px;
        margin-bottom: 0;
      }
  
      &-link {
        color: #fff;
      }
  
      &-votes {
        margin-left: 20px;
        display: flex;
  
        &-count {
          margin-left: 5px;
        }
      }

      ::ng-deep .mat-tab-labels {
        justify-content: center;
      }
    }
  
    &-votes {
      &-up {
        color: #5ee432;
      }
      &-down {
        color: #ef4655;
      }
  
      &-count {
        margin-left: 5px;
        margin-right: 10px;
        vertical-align: super;
      }
    }
  
    &-description {
      padding: 20px;
    }
   
    &-screenshot {
      margin-top: 5px;
      width: calc(50% - 10px);
  
      &:nth-child(even) {
        margin-left: 10px;
      }
    }
  
    &-trailer {
      width: 100%;
      margin: 20px 0;
    }
  }